<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite name='Los Andes QA Suite'>
    <listeners>
        <listener class-name='utils.TestListener'/>
    </listeners>
    <test name='Login Tests'>
        <classes>
            <class name='tests.login.LoginTest'/>
        </classes>
    </test>
    <test name='Home Tests'>
        <classes>
            <class name='tests.home.HomeTest'/>
        </classes>
    </test>
    <test name='Own Transfer Tests'>
        <classes>
            <class name='tests.transfers.OwnTransferTest'/>
        </classes>
    </test>
    <test name='Third Party Transfer Tests'>
        <classes>
            <class name='tests.transfers.ThirdPartyTransferTest'/>
        </classes>
    </test>
    <test name='Credit Payment Tests'>
        <classes>
            <class name='tests.credit.CreditPaymentTest'/>
        </classes>
    </test>
</suite>
